.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px;
    margin: 5% 10% 0% 5%;
    grid-template-areas: "a a a b b b c c c d d d";
  }
  body {
    background-color: white;
  }
  .box-img > img {
    width: 300px;
    height: 300px;
    margin-left: 600px;
    padding: 50px;
  }
  
  ::placeholder {
    color: #afa9a9;
    font-size: smaller;
  }
  #header {
    display: flex;
    background-color: #f8f9fa;
    height: 100px;
  }
  #header-container {
    width: 100%;
    display: block;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  .logo {
    padding: 30px;
    width: 13%;
  }
  .logo > img {
    margin-left: 35px;
  }
  input {
    caret-color: transparent;
    height: 40px;
    border: 1px solid red;
  }
  .searchbar {
    margin-top: 26px;
    width: 50%;
    height: 40px;
    border: 0;
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin-bottom: 50px;
    margin-left: 30px;
  }
  .search_input {
    border: 0px;
    border-color: white;
    background: none;
    caret-color: transparent;
    height: 40px;
    padding: 0 20px;
    width: 80%;
    text-decoration: none;
    color: black;
    font-size: small;
    border-radius: 30px 0px 0px 30px;
    /* margin-left: 50px; */
  }
  .searchbar > .search_icon {
    color: white;
    background-color: black;
    border-radius: 0px 30px 30px 0px;
    justify-content: center;
  }
  .search_icon {
    height: 40px;
    width: 120px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    padding: 0 20px;
  }
  .login_btn {
    cursor: pointer;
    width: 24%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f8f8fa;
    margin: 0px;
  }
  .login_btn > img {
    margin-top: 10px;
    height: 35px;
    width: 35px;
    background-color: #f8f9fa;
    margin: 0px;
    color: #f5f5f5;
  }
  .cute_btn {
    cursor: pointer;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    /* margin-left: -500px; */
    /* border: 1px solid red; */
  }
  .cute_btn > img {
    /* padding: 8px; */
    color: #495057;
    height: 15px;
    color: #495057;
    /* margin-left: -1000px; */
    /* background-color: red; */
    /* display: static; */
  }
  #dropdown_container {
    width: 100%;
    margin: 0px;
    height: 30px;
    border: 0px;
    display: flex;
    justify-content: space-between;
  }
  .dropdown_menu {
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 10px;
  }
  .dropdown_menu > div {
    color: #707477e8;
    font-size: small;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
  }
  #home_nav ul {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: white;
  }
  ul li {
    margin: 15px 34px;
  }
  .dropdown-makeup ul {
    background-color: white;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column !important;
    /* border: 1px solid green; */
    padding: 0;
  }
  .dropdown-makeup ul li {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
  }
  .dropdown-makeup {
    display: none;
  }
  li:hover > .dropdown-makeup {
    background-color: white;
    display: block;
  }
  ul {
    padding: 0px;
    display: none;
  }
  .nav_link {
    color: #707477e8;
    font-size: small;
    text-decoration: none;
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
  }
  .nav_link:hover {
    color: transparent;
    text-shadow: 0 0 1px rgb(15, 13, 13);
  }
  .main > .gap {
    margin: 0px 30px;
  }
  #A {
    background-color: #8731bb;
    grid-area: a;
    border-radius: 5px;
    padding: 4px 20px 10px 50px;
  }
  #A:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  #B {
    background-color: #14e034;
    grid-area: b;
    border-radius: 5px;
    padding: 4px 20px 10px 32px;
  }
  #B:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
  .main :nth-child(3) {
    background-color: #f94144;
    grid-area: c;
    border-radius: 10px;
    padding: 4px 20px 10px 32px;
  }
  .main :nth-child(3):hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .main :nth-child(4) {
    background-color: #00b4d8;
    grid-area: d;
    border-radius: 5px;
    padding: 4px 20px 10px 32px;
  }
  .main :nth-child(4):hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  a {
    text-decoration: none;
    color: white;
    margin-bottom: 40px;
  }
  /* Small Screen */
  /* @media only screen and (min-width: 0px) and (max-width: 320px) { */
    /* .main{
        
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: 250px ;
         color: white;
        } */
/*   
    .main {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 110px;
      margin: 5% 10% 0% 5%;
      grid-template-areas:
        "a a a a a a a a a a a a"
        "b b b b b b b b b b b b"
        "c c c c c c c c c c c c";
    }
  }
   */
  /* Medium Screen */
  
  /* @media only screen and (min-width: 321px) and (max-width: 720px) {
    .main {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 300px;
    }
  } */
  
  .icon {
    margin: 30px 20px -40px 55px;
    font-size: 16px;
    font-weight: 500;
    color: gray;
  }
  .icon a {
    border: 0px;
    background-color: white;
    color: black;
  }
  .icon a:hover {
    color: gray;
  }
  .name {
    color: rgb(241, 63, 212);
    font-size: 20px;
  }
  #img {
    height: 30%;
    width: 40%;
    margin-left: 400px;
    margin-top: -100px;
  }
  #text1 {
    margin-left: 130px;
    color: rgb(94, 86, 86);
  }
  #text2 {
    margin-left: 130px;
    font-weight: 800px;
    color: rgb(94, 86, 86);
  }
  #distance_from_top {
    margin-top: 154px;
  }
  
  #sub {
    background-color: #fc2779;
    color: white;
    margin-top: 20px;
    padding: 10px 25px 10px 25px;
    border: 0px;
    border-radius: 2px;
  }
  #sub:hover {
    background-color: violet;
  }
  